---
import Layout from "../../layouts/Layout.astro"
import type { Artist } from "../../types";
import { filterArtistsData, getData } from '../../utils';

export async function getStaticPaths() {
  const { artists: artistsResponse } = await getData('chart.gettopartists', '65');
  const artists = (artistsResponse?.artist || []) as Artist[];
  const data = filterArtistsData(artists, 48);
  const routes = data.map(artist => ({ params: { mbid: artist.mbid } }));

  return routes;
}

const { mbid } = Astro.params;
---

<Layout title={`Artist ${mbid} | Transition API`}>
  <main class="pt-28 pb-12 px-4">
    <h1 class="text-2xl font-bold tracking-tight text-white mb-4 text-center">
      Artist: {mbid}
    </h1>
  </main>
</Layout>
