---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Albums | Transition API">
  <main class="pt-28 pb-12 px-4">
    <h1 class="text-2xl font-bold tracking-tight text-white mb-4 text-center">
      Tags
    </h1>
  </main>
</Layout>
