---
import Layout from '../layouts/Layout.astro';
import TagCard, { Props as TagCardProps } from '../components/TagCard.astro';
import TrackCard, { Props as TrackCardProps } from '../components/TrackCard.astro';
import ArtistCard from '../components/ArtistCard.astro';
import { getData } from '../utils';
import type { Artist } from '../types';

const { artists: artistsResponse } = await getData('chart.gettopartists', '12');
const { tracks: tracksResponse } = await getData('chart.gettoptracks', '12');
const { tags: tagsResponse } = await getData('chart.gettoptags', '12');

const tracks = (tracksResponse?.track || []) as Array<TrackCardProps['data']>;
const artists = (artistsResponse?.artist || []) as Artist[];
const tags = (tagsResponse?.tag || []) as Array<TagCardProps['data']>;
---

<Layout title="Home | Transition API">
  <main class="pt-28 pb-12 px-4 lg:px-0 max-w-5xl mx-auto w-full">
    <!-- Artists section -->
    <section class="flex flex-col gap-10 mb-10">
      <h2 class="text-5xl font-bold text-cod-gray-100">
        Top Artists
      </h2>
      {artists.length > 0 && (
        <ul class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4" role="list">
          {artists.map((artist, index) => <ArtistCard index={index + 30} data={artist} />)}
        </ul>
      )}
      <a href="/artists" class="px-14 py-3 self-center rounded font-bold text-md text-cod-gray-100 bg-cod-gray-900 transition-all hover:text-cod-gray-900 hover:bg-cod-gray-100 focus:outline-1">
        See more →
      </a>
    </section>

    <!-- Tracks section -->
    <section class="flex flex-col gap-10 mb-10">
      <h2 class="text-5xl font-bold text-cod-gray-100">
        Top Tracks
      </h2>
      {tracks.length > 0 && (
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-2" role="list">
          {tracks.map((track, index) => <TrackCard index={index + 10} data={track} />)}
        </ul>
      )}
      <a href="/tracks" class="px-14 py-3 self-center rounded font-bold text-md text-cod-gray-100 bg-cod-gray-900 transition-all hover:text-cod-gray-900 hover:bg-cod-gray-100 focus:outline-1">
        See more →
      </a>
    </section>

    <!-- Tags section -->
    <section class="flex flex-col gap-10">
      <h2 class="text-5xl font-bold text-cod-gray-100">
        Top Tags
      </h2>
      {tags.length > 0 && (
        <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3" role="list">
          {tags.map(tag => <TagCard data={tag} />)}
        </ul>
      )}
      <a href="/tags" class="px-14 py-3 self-center rounded font-bold text-md text-cod-gray-100 bg-cod-gray-900 transition-all hover:text-cod-gray-900 hover:bg-cod-gray-100 focus:outline-1">
        See more →
      </a>
    </section>
  </main>
</Layout>
