---
export interface Props {
  data: {
    name: string;
    taggings?: string;
  };
  externalUrl?: string;
}

const { name, taggings } = Astro.props.data;
---
<li class="flex">
	<a
    href={Astro.props.externalUrl}
    class="border-solid border-2 border-red-800 flex w-full transition-all hover:bg-red-800 hover:-skew-x-6"
  >
    <div class="p-3 flex-1 flex items-center bg-red-800">
      <h2 class="text-base font-extrabold text-cod-gray-100 uppercase">
        {name}
      </h2>
    </div>
    <small class="p-3 gap-2 text-cod-gray-100 text-sm self-center">
      <span class="font-light">Taggings</span>:
      <br /> {taggings ? Number(taggings).toLocaleString('en-US') : 'Not Specified'}
    </small>
	</a>
</li>
