---
import TrackCard from "../../components/TrackCard.astro";
import Layout from "../../layouts/Layout.astro"
import type { Track } from "../../types";
import { getData, filterTrackData } from '../../utils';

const { tracks } = await getData('chart.gettoptracks', '130');
const data = filterTrackData((tracks?.track || []) as Track[], 24);
---

<Layout title="Tracks | Transition API">
  <main class="pt-28 pb-12 px-4 lg:px-0 max-w-5xl mx-auto w-full flex flex-col gap-10">
    <h2 class="text-5xl font-bold text-cod-gray-100">
      Top 24 Tracks
    </h2>
    {data.length > 0 && (
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-2" role="list">
        {data.map((track, index) => <TrackCard index={index} data={track} />)}
      </ul>
    )}
    <span class="text-base text-cod-gray-100">
      Total results: <span class="font-semibold">{Number(tracks['@attr'].total).toLocaleString('en-US')}</span>
    </span>
  </main>
</Layout>
